
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width:1199px){ 
    a.navbar-brand img {
        max-width: 170px;
    }
    a.nav-link {
        padding: 0px 20px !important;
    }
    h1 {
        font-size: 60px;
     
    }
    a.custom-btn.black {
        padding: 20px 20px;
    }
    .cta-button-group {
        gap: 15px;
    }
    .service-card-body {
        padding: 40px 32px;
    }
    .pops-text {
        padding: 32px 32px;
        
    }
    .pops-button-group .custom-btn {
        padding-left: 8px;
        padding-right: 8px;
    }
    .pops-text h2 {
        padding-bottom: 8px;
        font-size: 26px;
    }
    div#myTabContent {
        width: 100%;
        padding-left: 50px;
    }
    .contact-form-left {
 
        padding: 32px;
      
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px){ 
    div#navbarSupportedContent {
        position: absolute;
        top: 69px;
        background: #fff;
        left: 0;
        padding-right: 15px;
        padding-left: 15px;
        width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sidebar {
        margin-right: 0px;
    }
    main {
        margin-bottom: 50px;
    }
    .others-page img.white-logo {
        display: none;
    }
    
    .others-page img.black-logo {
        display: block;
    }
    
    .others-page button.navbar-toggler i {
        color: #78ca5b;
    }
    
    a.nav-link {
        color: #222;
        font-size: 15px;
        font-weight: 700;
    }
    
    button.navbar-toggler i {
        color: #fff;
        font-size: 26px;
        margin-right: -12px;
    }
    
    a.nav-link.request-btn {
        background: #78ca5b;
        color: #fff;
        margin-top: 10px;
    }
    a.nav-link.dropdown_toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    a.nav-link.dropdown_toggle i {
        display: flex;
        width: 70%;
        justify-content: end;
    }
    
    ul.sub-menu li a {
        color: #222;
        font-weight: 700;
        font-size: 15px;
        display: block;
        border-bottom: 1px solid #eaeaea;
        padding: 8px 0px;
    }
    
    ul.sub-menu {
        height: 0px;
        overflow: hidden;
        transition: all 300ms ease-in-out;
        overflow-y: scroll;
    }
    
    ul.sub-menu.open-dropdown {
        height: auto;
        overflow: visible;
    }
    h1 {
        font-size: 40px;
        line-height: 1.3;
    }
    .banner-area {
        padding-top: 130px;
        padding-bottom: 80px;
    }
    h2 {
        font-size: 30px;
    }
    .cta-button-group {
        flex-direction: column;
        text-align: left;
        align-items: self-start;
    }
    
    .cta-right {
        padding-bottom: 0px;
    }
    .pops-text {
        border-radius: 0px;
        padding: 32px 40px;
    }
    
    .pops-text h2 {
        font-size: 30px;
    }
    .pops-text {
        border-radius: 0px;
        padding: 32px 40px;
    }
    
    .pops-text h2 {
        font-size: 30px;
    }
    
    .tab-left h2 br {
        display: none;
    }
    
    .tab-left {
        padding-bottom: 50px;
    }
    
    .tab-left h2 {
        padding-bottom: 20px;
    }
    
    div#myTabContent {
        padding-left: 50px;
    }
    
    .contact-form-left {
        border-radius: 0px;
        padding: 40px 32px;
    }
    
    .contact-form {
        border-radius: 0px;
    }
    
    .blog-card {
        margin-bottom: 32px;
    }
    
    .footer-inner {
        text-align: center;
    }
    
    .footer-inner {
        padding-bottom: 40px;
    }
    
    a.get-direction {
        justify-content: center;
    }
    
    .quick-contact a {
        justify-content: center;
    }
    
    .footer-inner h4 {
        margin-bottom: 24px;
    }
    
    ul.social-link {
        justify-content: center;
    }
    
    .copyright-wrap {
        flex-direction: column-reverse;
        padding-top: 50px;
    }
    
    .copyright-logo {
        display: none;
    }
    
    .copyright-text {
        padding-top: 24px;
        text-align: center;
    }
    
    .copyright-text ul {
        justify-content: center;
    }
    
    img.black-logo {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
    .service-card-body {
        padding: 32px;
    }
    .pops-text h2 {
        font-size: 24px;
    }
    .pops-button-group {
        flex-direction: column;
        align-items: self-start;
    }
    
    .pops-text {
        padding: 32px 24px;
    }
    
    section.pops-area {
        padding-top: 50px;
    }
    
    section.tab-area {
        padding-top: 200px;
    }
    
    .tabs-inner {
        flex-direction: column;
    }
    
    .nav-tabs {
        max-width: 100%;
    }
    
    div#myTabContent {
        padding: 0px;
        padding-top: 50px;
    }
    
    section.contact-form-area {
        padding: 50px 0px;
    }
    
    .contact-form {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    }
    
    .form-inner {
        padding: 32px;
    }
    
    section.blog-area {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .section-title {
        padding-bottom: 24px;
    }
    
    .blog-body {
        padding: 32px;
    }
    
    .blog-badge {
        left: 32px;
    }
    
    .blog-card-header img {
        padding-right: 32px;
    }
    
    .blog-card-header-info {
        padding: 32px;
    }
    
    .blog-button {
        padding-top: 8px;
    }
    
    footer {
        padding-top: 50px;
    }
    

    .banner-button-group {
        flex-direction: column;
        align-items: self-start;
    }
    
    .banner-text p {
        font-size: 16px;
    }
    
    section.cta-area {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .others-page {
        padding-top: 110px;
    }
    .sidebar {
        margin-top: 24px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 400.98px) { 
 
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575.98px) { 
    h1 {
        font-size: 35px;
        line-height: 1.3;
    }
    a.navbar-brand img {
        max-width: 190px;
    }
}